.ol-zoomslider{
	display:none;
}
.ol-hidden{
	display:none;
}
.ol-logo-only{
	display:none;
}
/* remove google footer from the map */
 .gmnoprint a,.gmnoprint span,.gm-style-cc{
    display: none;
  }
.gmnoproint div{
  background: none !important;
}
.gm-style-mtc{
  display:none !important;
}