.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
    background: transparent !important;
    overflow: auto;
}

.modal-footer {
    margin-top: 0px;
}
